<%- include('../partials/header') %>
<main>
    <h1><%= title %></h1>

<div class="vehicle-grid">
  <% vehicles.forEach(v => { %>
    <div class="vehicle-card">
      <img src="<%= v.image %>" alt="<%= v.make %> <%= v.model %>">
      <h2><%= v.year %> <%= v.make %> <%= v.model %></h2>
      <p>Mileage: <%= v.mileage.toLocaleString() %> miles</p>
      <p class="price">$<%= v.price.toLocaleString() %></p>

      <a href="/vehicles/details/<%= v.id %>" class="btn">View Details</a>
    </div>
  <% }) %>
</div>


    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/vehicles/browse">Browse Vehicles</a></li>
            <li><a href="/vehicles/browse">Browse Vehicles</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>
    <p>Browse Autos Here</p>
</main>
<%- include('../partials/footer') %>