<%- include('../partials/header') %>

<h1><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></h1>
<p>Price: $<%= vehicle.price %></p>
<p><%= vehicle.description %></p>

<a href="/vehicles">Back to list</a>

<%- include('../partials/footer') %>
